# logging
logging:
  level:
    '[com.backend.java]': TRACE

# configuration
app:
  timezone: Asia/Jakarta
credential:
  APIkey: ${SECRET_KEY}

# database source
spring:
  main:
    allow-circular-references: true
  datasource:
    url: {db-url}
    username: {postgresql}
    password: {password}
    driverClassName: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    data:
      elasticsearch:
        cluster-nodes: http://localhost:9200
        cluster-name: my-custom-cluster
        repositories:
          enabled: true

# identify server port running on default environment
server:
  port: 9001